#main-content {
    height: 100%;
    padding: 12.5rem 3.125rem;
}

.login-header {
    font-size: 2rem;
    padding-bottom: 1rem;
}

#username-container {
    padding: 0.5rem 0;
}

#password-container {
    padding: 0.5rem 0;
}

#login-button-container {
    padding: 1rem 0;
}

#register-container {
    display: flex;
    justify-content: center;
}