#main-login-content {
    height: 100%;
    padding: 5.5rem 3.125rem;
}

.animal-image {
    padding-bottom: 3rem;
}

.login-header {
    font-size: 2rem;
    padding-bottom: 1rem;
}

#email-container {
    padding: 0.5rem 0;
}

.email-input {
    background: #F1F1F1;
    border-radius: 10px 10px 10px 10px;
    --padding-start: 12px;
}

#password-container {
    padding: 0.5rem 0;
}

.password-input {
    background: #F1F1F1;
    border-radius: 10px 10px 10px 10px;
    --padding-start: 12px;
}

#login-button-container {
    padding: 1rem 0;
}

#register-container {
    display: flex;
    justify-content: center;
}