.header-title {
    display: flex;
    align-items: center;
    text-align: center;
    height: 2.5rem;
    font-size: 1.5rem;
    padding: 0 3rem 0 3rem;
}

.calendar {
    width: 100% !important;
    border: none !important;
}

.react-calendar__tile--now {
    background: lightgrey !important;
}

.react-calendar__tile--active:enabled:hover {
    background: black !important;
}

.react-calendar__tile--active {
    background: black !important;
}
