.header-title {
    display: flex;
    align-items: center;
    text-align: center;
    height: 2.5rem;
    font-size: 1.5rem;
    padding: 0 3rem 0.1875rem 3rem;
}

.delete-icon {
    height: 2.2rem;
    width: 1.5rem;
    padding-right: 0.3rem;
}

.header-chore {
    padding-top: 2.5rem
}

.new-chore-button {
    padding-top: 1.75rem
}

#add-icon {
    font-size: 1.25rem;
    padding: 0 0 0.25rem 0.125rem;
}

.popover {
    --box-shadow: 0px 0px 8px 0px black;
}

.popover.dark-mode {
    --box-shadow: 0px 0px 8px 0px white;
}

.close-icon {
    padding: 0.5rem 0 0 0.5rem;
}