.menu-icon {
    font-size: 1.75rem;
    color: black;
}

.header-title {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
}

.header-chore {
    padding-top: 2.5rem
}

.new-chore-button {
    padding-top: 1.75rem
}

.close-icon {
    padding: 0.5rem 0 0 0.5rem;
}