.header-title {
    display: flex;
    align-items: center;
    text-align: center;
    height: 2.5rem;
    font-size: 1.5rem;
    padding: 0 3rem 0.1875rem 3rem;
}

.header-chore {
    padding-top: 2.5rem
}

.new-chore-button {
    padding-top: 1.75rem
}

#add-icon {
    font-size: 1.25rem;
    padding: 0 0 0.25rem 0.125rem;
}

.close-icon {
    padding: 0.5rem 0 0 0.5rem;
}